@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+Georgian:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body, html {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 85rem;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

.submit {
  margin: 0;
  padding: 0.8rem 3rem;
  font-family: "Lato", sans-serif;
  color: white;
  background: #01996D;
  border: none;
  border-radius: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s;
}
.submit:hover {
  background: #01684b;
}

.title {
  margin: 0;
  color: #01996D;
  font-size: 2.7rem;
  font-family: "Lato", sans-serif;
}

.header {
  border-bottom: 1px solid #c6c6c6;
}
.header .container .navbar {
  padding: 0.8rem 0 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .navbar .leftside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}
.header .container .navbar .leftside .logo {
  flex: 1;
}
.header .container .navbar .leftside .logo a {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #01996D;
}
.header .container .navbar .leftside .navigation {
  flex: 2;
}
.header .container .navbar .leftside .navigation .list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: capitalize;
  font-size: 1.25rem;
}
.header .container .navbar .login {
  display: flex;
  justify-content: right;
  flex: 2;
}
.header .container .navbar .login .sign {
  padding: 0.2rem 1rem;
  color: black;
  background: none;
}

.main {
  background: url("./img/main.png") no-repeat center;
  background-size: cover;
}
.main .container {
  padding: 11rem 0;
}
.main .container .wraper {
  max-width: 25rem;
}
.main .container .wraper .title-main {
  font-size: 3.75rem;
}
.main .container .wraper p {
  margin: 2rem 0;
  width: 85%;
}

.howitworks {
  padding: 9.75rem 0 2rem;
}
.howitworks .container .subtitle {
  margin: 0;
  font-size: 1.5rem;
}
.howitworks .container .title-name {
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
}
.howitworks .container .title-name h2 {
  max-width: 35rem;
  flex: 0 0 50%;
}
.howitworks .container .title-name p {
  font-size: 1.2rem;
  max-width: 35rem;
  flex: 0 0 50%;
}
.howitworks .container .steps {
  display: flex;
  gap: 6rem;
}
.howitworks .container .steps .step {
  flex: 1;
  position: relative;
}
.howitworks .container .steps .step .step-name {
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}
.howitworks .container .steps .step .number {
  position: absolute;
  left: 0;
  top: -5.7rem;
  font-family: "Lato", sans-serif;
  font-size: 6.8rem;
  color: rgba(1, 153, 109, 0.2);
}
.howitworks .container .steps .step p {
  margin: 3.4rem 0;
}
.howitworks .container .steps .step .step-img img {
  max-width: 100%;
  border-radius: 1rem;
}
.howitworks .container .steps .step:nth-child(2) {
  margin-top: 10rem;
  align-self: flex-end;
}
.howitworks .container .steps .step:nth-child(2) .step-name {
  text-align: right;
}

.story {
  background: #245852;
}
.story .container {
  padding: 14rem 0 11rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.story .container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 40%;
}
.story .container .description .title {
  color: white;
}
.story .container .description p {
  margin: 2rem 0;
  color: white;
}
.story .container .video {
  flex: 0 0 60%;
}
.story .container .video iframe {
  width: 35rem;
  height: 19.6rem;
  border-radius: 1rem;
}

.product .container {
  padding: 7.5rem 0 15rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.product .container .person {
  position: relative;
  flex: 0 0 45%;
}
.product .container .person .person-photo {
  background: rgba(1, 153, 109, 0.2);
  border-radius: 1rem;
  text-align: center;
}
.product .container .person .person-photo img {
  max-width: 100%;
}
.product .container .person .person-profile {
  padding: 1.8rem 3.8rem;
  position: absolute;
  left: -6rem;
  bottom: -6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
}
.product .container .person .person-profile h4 {
  position: relative;
}
.product .container .person .person-profile h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.5rem;
  left: 0;
  background: black;
}
.product .container .person .person-profile .profile-photo {
  text-align: center;
  width: 50px;
  height: 50px;
  background: url("./img/personmini.png") no-repeat center rgba(1, 153, 109, 0.2);
  border-radius: 50%;
}
.product .container .person .person-profile .profile-photo img {
  border-radius: 50%;
  width: 100%;
}
.product .container .person .person-profile .contents {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.product .container .person .person-profile .list {
  padding-left: 1rem;
}
.product .container .person .person-profile .list li {
  margin: 1rem 0 0;
}
.product .container .description {
  flex: 0 0 45%;
}
.product .container .description .subtitle {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}
.product .container .description .about {
  margin: 1.5rem 0;
}
.product .container .description .about p {
  margin: 0;
  max-width: 26rem;
}

.footer {
  background: #245852;
}
.footer .container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.footer .container .logo a {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
}
.footer .container a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .submit {
    padding: 0.6rem 1.3rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .main .container .wraper .title-main {
    font-size: 2.75rem;
  }
  .howitworks {
    padding-top: 4.75rem;
  }
  .howitworks .container .title-name p {
    font-size: 1rem;
  }
  .howitworks .container .steps .step:nth-child(2) {
    margin-top: 6rem;
  }
  .story .container {
    padding: 5rem 0;
    flex-direction: column;
  }
  .story .container .description p {
    margin: 1rem 0;
  }
  .story .container .video {
    text-align: center;
  }
  .product .container {
    padding-top: 4.5rem;
  }
  .product .container .person .person-profile {
    padding: 1rem 2rem;
    left: -3rem;
    bottom: -11rem;
  }
  .product .container .description .title {
    font-size: 2rem;
  }
  .footer .container {
    padding: 2rem 0;
    gap: 1rem;
  }
  .footer .container .logo a {
    font-size: 1.5rem;
  }
  .footer .container a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .title {
    font-size: 2rem;
  }
  .header .container .navbar .leftside {
    flex: 0 0 50%;
  }
  .header .container .navbar .leftside .navigation {
    display: none;
  }
  .main .container .wraper .title-main {
    font-size: 1.5rem;
  }
  .main .container .wraper p {
    width: 60%;
    font-size: 0.7rem;
  }
  .howitworks .container .subtitle {
    font-size: 1rem;
  }
  .howitworks .container .title-name p {
    margin: 0;
  }
  .howitworks .container .steps {
    flex-direction: column;
  }
  .howitworks .container .steps .step:nth-child(2) .step-name {
    text-align: center;
  }
  .howitworks .container .steps .step .step-img {
    text-align: center;
  }
  .story .container .video iframe {
    width: 32rem;
    height: 18rem;
  }
}
@media (max-width: 540px) {
  .header .container .navbar .leftside {
    flex: 0 0 20%;
  }
  .howitworks .container .title-name {
    flex-direction: column;
  }
  .howitworks .container .title-name p {
    margin-top: 0.5rem;
  }
  .story .container .video iframe {
    width: 22rem;
    height: 13rem;
  }
  .product .container {
    padding: 2rem 0;
  }
  .product .container .person .person-photo {
    backface-visibility: hidden;
  }
  .product .container .person .person-profile {
    padding: 0;
    inset: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .product .container .person:hover .person-profile {
    transform: rotateY(0);
  }
  .product .container .description .title {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .story .container .video iframe {
    width: 90%;
    max-width: 22rem;
    height: 11rem;
  }
}

/*# sourceMappingURL=style.css.map */
